<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Lista Pizze</title>
</head>

<body>
    <h1>Le nostre Pizze</h1>

    <div sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/pizze/create}" class="btn btn-primary">Aggiungi Nuova Pizza</a>
    </div>

    <table>
        <tr th:each="pizza : ${pizze}">
            <td th:text="${pizza.nome}">Margherita</td>
            <td>
                <a th:href="@{/pizze/{id}(id=${pizza.id})}">Dettagli</a>

                <span sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/pizze/edit/{id}(id=${pizza.id})}">Modifica</a>
                    <form th:action="@{/pizze/delete/{id}(id=${pizza.id})}" method="post">
                        <button type="submit">Elimina</button>
                    </form>
                </span>
            </td>
        </tr>
    </table>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Esci</button>
    </form>
</body>

</html>